@import 'bootstrap';

.mb-5x {
  margin-bottom: 5rem!important;
}

.w-auto {
  width: auto!important;
}

.unlinkify,
a:link.unlinkify,
a:visited.unlinkify,
a:hover.unlinkify,
a:active.unlinkify {
  color: inherit!important;
  text-decoration: none!important;
}

.social-facebook,
a:link.social-facebook,
a:visited.social-facebook {
  color: #3b5998;
}

a:hover.social-facebook,
a:active.social-facebook,
a:focus.social-facebook {
  color: #344e86;
}

.social-twitter,
a:link.social-twitter,
a:visited.social-twitter {
  color: #1da1f2;
}

a:hover.social-twitter,
a:active.social-twitter,
a:focus.social-twitter {
  color: #0d95e8;
}

.social-media-buttons .list-inline-item:not(:last-child) {
  margin-right: 10px;
}
