.social-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 30px;

  @media screen and (min-width: 960px) {
    margin-bottom: 40px;
  }
}

.social-buttons__button {
  margin-bottom: 8px;

  &:first-child {
    margin-right: 10px;
  }
}
