<!-- Credits -->
<footer class="mb-3 text-center" style="font-size: 0.8rem">
  <p class="mb-1"><a href="/">Play&nbsp;Whe&nbsp;Smarter</a> is a project designed, developed and maintained by <a href="http://www.dwaynecrooks.com/">Dwayne&nbsp;Crooks</a>.</p>
  <p class="mb-1">Built with <a href="https://nanoc.ws/">Nanoc</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
  <p class="mb-1">Hosted on <a href="https://pages.github.com/">GitHub Pages</a>.</p>
  <p class="mb-1">Made with <span class="text-danger"><i class="fas fa-heart"></i></span> in T&amp;T.</p>
  <p class="mb-1"><a href="/legal/privacy-policy">Privacy Policy</a> | <a href="/legal/terms-of-service">Terms of Service</a></p>
  <p><small class="text-muted">&copy; 2011-<%= now.year %></small></p>
</footer>
