<!-- Site navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">Play Whe Smarter</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="https://blog.playwhesmarter.com/">
            Blog
          </a>
        </li>
        <li class="nav-item dropdown">
          <a title="Tools to help you analyze Play Whe" class="nav-link dropdown-toggle" href="#" id="exploreDropdown" data-toggle="dropdown">
            Explore
          </a>
          <div class="dropdown-menu" aria-labelledby="exploreDropdown">
            <a class="dropdown-item" href="/results/">
              Past Results
            </a>
            <a class="dropdown-item" href="/hiding-marks/">
              Hiding Marks
            </a>
            <a class="dropdown-item" href="/mark-frequencies-by-year-month/">
              Mark Frequencies by Year/Month
            </a>
          </div>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a title="Learn Play Whe" class="nav-link dropdown-toggle" href="#" id="learnDropdown" data-toggle="dropdown">
            Learn
          </a>
          <div class="dropdown-menu" aria-labelledby="learnDropdown">
            <a class="dropdown-item" href="#">
              What is Play Whe?
            </a>
            <a class="dropdown-item" href="#">
              How to Play
            </a>
            <a class="dropdown-item" href="#">
              Charts
            </a>
            <a class="dropdown-item" href="#">
              Tips, Tactics and Strategies
            </a>
          </div>
        </li>
        <li>
          <a title="Learn about Play Whe Smarter" class="nav-link" href="#">
            About
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
