<div class="social-buttons">
  <div class="social-buttons__button">
    <%= partial 'shared/social_buttons/fb' %>
  </div>
  <div class="social-buttons__button">
    <%= partial 'shared/social_buttons/twitter' %>
  </div>
</div>
